<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>837193980540-2kk62bsl4gouv8t5c1iu8jtk4nn254k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.837193980540-2kk62bsl4gouv8t5c1iu8jtk4nn254k6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>837193980540-knnv840km8018l41c366hj1401rv1kdn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAGpSdtS_wv9UwGOTm5toNLeJMVvrQXB9k</string>
	<key>GCM_SENDER_ID</key>
	<string>837193980540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.retrytech.cutfx</string>
	<key>PROJECT_ID</key>
	<string>pricess-app-salon</string>
	<key>STORAGE_BUCKET</key>
	<string>pricess-app-salon.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:837193980540:ios:2f33318036e43bb545c7f9</string>
</dict>
</plist>